* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #0c2720;
  height: 100%; 
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #0c2720;
  padding: 30px;
  text-align: center;
  font-size: 2.5rem;
  color: #EFF8F1;
  width: 100%;
}

p {
  margin-top: 20px;
}

/* Navigation */
nav {
  float: left;
  height: 100vh;
  width: 20%;
  background: #caecd2;
}

nav ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #EFF8F1;
  background-color: #255B4E;
  padding: 10px; 
  margin: 25px; 
  display: inline-block; 
  border-radius: 50%; 
  text-align: center; 
  width: 160px; 
  height: 160px;
  line-height: 140px;
  font-size: 1rem;
}

nav a:hover {
  background-color: #0c2720; 
  color: #EFF8F1;
}

/* Main Content */
article {
  float: left;
  padding: 20px;
  width: 80%;
  min-height: 100vh;
  background-color: #EFF8F1;
}

/* Home Page Content */
#animals {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: space-between; 
  text-align: center;
}

#animals div {
  width: 100px; 
  flex: 1 1 100px; 
}

#animals img {
  width: 100px;
}

/* Sections */
section {
  min-height: 100vh; 
  display: flex; 
}

/* Game Button */
.gameButton {
  background-color: #255B4E; 
  color: #EFF8F1;
  border: none;
  padding: 20px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gameButton:hover {
  background-color: #0c2720; 
  color: #EFF8F1;
}

/* Footer */
footer {
  background-color: #0c2720;
  color: #EFF8F1;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .nav-item {
  margin: 0 15px;
}

footer a {
  text-decoration: none;
  color: #EFF8F1;
}

hr {
  border: none;
  border-top: 1px solid #EFF8F1;
  margin: 20px 0;
  width: 80%;
}

#footerText {
  color: #EFF8F1;
  margin-top: 10px;
}

  /* Responsive Design */
  @media (max-width: 992px) {
    nav a {
        width: 130px;
        height: 130px;
        line-height: 110px;
        font-size: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    nav a {
        width: 100px;
        height: 100px;
        line-height: 80px;
        font-size: 0.9rem;
    }
  }
  
  @media (max-width: 600px) {
    nav a {
        width: 80px;
        height: 80px;
        line-height: 60px;
        font-size: 0.8rem;
    }
  }
  
  @media (max-width: 480px) {
    nav a {
        width: 60px;
        height: 60px;
        line-height: 50px;
        font-size: 0.7rem;
        margin: 5px;
    }
  }
  
  
  /* Page-Specific Styles */
  
  /* Happy-page */
  
  #happyDogCardsGame {
    padding: 20px;
    background-color: #EFF8F1;
  }
  
  #happyDogCards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
  }
  
  .happyDogCard {
    width: 200px;
    height: auto;
    border: 2px solid #0c2720;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
  }
  
  .happyDogCard img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  #happyDogPlayAgain {
    background-color: #255B4E; 
    color: #EFF8F1;
    border: none;
    padding: 20px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #happyDogPlayAgain:hover {
    background-color: #0c2720; 
    color: #EFF8F1;
  }
  
  #HappyDogStartGame {
    background-color: #255B4E; 
    color: #EFF8F1;
    border: none;
    padding: 20px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #happyDogStartGame:hover {
    background-color: #0c2720; 
    color: #EFF8F1;
  }
  #happyDog {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #happyDog img {
    max-width: 300px;
    height: auto;
    display: inline-block;
    border-radius: 10px;
  }
  
  /* sad page */
  
  #sad-game-article {
    background-color: #EFF8F1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;
  }
  
  /* game title */
  #game-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--dark-green);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  /* sad container */
  #sad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
    max-width: 900px;
  }
  
  /* sad symbol container */
  #sad-symbol-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    background-color: #EBFAF0;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 1200px;
    max-width: 100%;
    height: 500px;
    margin-bottom: 20px;
  }
  
  /* Symbols */
  .symbol {
    width: 120px;
    height: 120px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .symbol:hover {
    transform: scale(1.2);
  }
  
  /* sad instruction box */
  #sad-instruction-box {
    background-color: #EBFAF0;
    border: none;
    border-radius: 15px;
    padding: 15px 20px;
    text-align: center;
    color: #1A533D;
    font-size: 1.5rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    word-break: break-word;
    width: 100%;
    margin: 15px 0;
  }
  
  #sad-instruction-box h1 {
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  #sad-instruction-box p {
    font-size: 1.3rem;
    color: #333;
  }
  
  #sad-feedback-box {
    background-color: var(--light-mint);
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    font-size: 2rem;
    color: var(--dark-green);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  #sad-feedback-box:hover {
    transform: scale(1.05);
    background-color: #d8f3dc;
  }
  
  
  #sad-feedback-box h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #sad-feedback-box p {
    font-size: 1.6rem;
    color: #333;
  }

/* Token Page Styles */
.token-grid-container {
  text-align: center;
  max-width: 600px; 
  margin: 0 auto; 
}

/* Otsikon hienosäätö */
.token-grid-container h2 {
  margin: 0 auto 20px; 
  font-size: 1.8rem;
  color: #0c2720;
}

/* Grid-layout */
.token-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  max-width: 600px; 
}

/* Token-kuvat ja tekstit */
.token {
  text-align: center;
}

.token img {
  width: 250px; 
  height: 250px;
  transition: transform 0.5s; 
}

.token img:hover {
  transform: scale(1.5); 
}

.token p {
  margin-top: 10px;
  font-size: 1.2rem; 
  color: #0c2720;
}

.badge-img {
  filter: grayscale(80%); 
  transition: filter 0.3s ease;
}

.badge-img.active {
  filter: grayscale(0%); 
}

.token h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #0c2720;
}

/* Reset-nappi */
.reset-button-container {
  text-align: center;
  margin-top: 40px; 
}

.token-reset-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #CAECD2;
  color: #0C2720;
  border: 2px solid #255B4E;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.token-reset-button:hover {
  background-color: #EFF8F1;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.token-reset-button:active {
  background-color: #255B4E;
  color: #EFF8F1;
  transform: scale(0.95);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Modalin tyylit */
.token-modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.token-modal.show {
  display: flex;
  opacity: 1;
}

.token-modal .modal-content {
  background-color: #EFF8F1; /* Modalin taustaväri */
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.token-modal .modal-content p {
  font-size: 1.2rem;
  color: #0C2720;
  margin-bottom: 20px;
}

.token-modal .modal-buttons {
  display: flex;
  justify-content: space-around;
}

.token-modal .modal-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.token-modal .modal-button.confirm {
  background-color: #255B4E;
  color: #EFF8F1;
}

.token-modal .modal-button.confirm:hover {
  background-color: #0c2720;
}

.token-modal .modal-button.cancel {
  background-color: #9E403F;
  color: #EFF8F1;
}

.token-modal .modal-button.cancel:hover {
  background-color: #7C322F;
}

/* Responsiivisuus */
@media (max-width: 768px) {
  .token-reset-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .token-modal .modal-buttons {
    flex-direction: column;
    gap: 10px;
  }
}

/* Confused Page Styles */

#confused-instruction {
  font-size: 1.5rem;
  color: #0c2720; 
  margin-bottom: 40px; 
  text-align: center; 
}

/* Kontainerit */
.speed-game-container {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;    
}

/* Pallot */
.speed-balls-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.ball {
  width: 200px;
  height: 200px;
  background-color: #255B4E;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ball img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; /* Kuva on oletuksena piilossa */
}

.ball.active {
  background-color: white; 
  transform: scale(1.1);
}

.ball.active img {
  display: block; 
}

/* Käynnistä-painike */
.start-button-container {
  margin-top: 30px;
}

.start-button {
  padding: 20px 60px;
  font-size: 1.2rem;
  background-color: #255B4E;
  color: #EFF8F1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #0c2720;
}

/* Pisteet ja palaute */
#score, #feedback {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #0c2720;
  text-align: center; 
}


/* Modalin tausta */
#confused-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden; 
  opacity: 0; 
  transition: visibility 0s, opacity 0.3s ease;
}

#confused-modal.visible {
  visibility: visible; 
  opacity: 1;
}

/* Modalin sisältö */
#confused-modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 80%; 
}

#confused-modal-message {
  font-size: 1.2rem;
  color: #0c2720;
  margin-bottom: 20px;
}

/* Jatka-painike */
#confused-continue-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #255B4E;
  color: #EFF8F1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#confused-continue-button:hover {
  background-color: #0c2720;
}


/* Fear Page Specific Styles */

/* Kontainer vierekkäisille osioille */
#fear-container {
  display: flex; 
  gap: 20px; 
  justify-content: center; 
  margin: 20px auto; 
  max-width: 1200px; 
  align-items: stretch;
}

/* Yleinen osioiden rakenne */
#fear-story-section,
#fear-choice-section {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  border: 20px solid #53816E;
  padding: 120px;
  border-radius: 100px;
  background-color: #CAECD2;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

/* Tarinaosio */
#fear-story-section {
  background-color: #CAECD2;
  border-color: #53816E;
}

#fear-story-section h2 {
  margin-bottom: 40px; 
  color: #0C2720;
  font-size: 1.5rem;
}

#fear-story-section p {
  margin-bottom: 90px; 
  font-size: 1rem;
  color: #0C2720;
}

/* Valintaosio */
#fear-choice-section {
  background-color: #EFF8F1;
  border-color: #255B4E;
}

#fear-choice-section h3 {
  margin-bottom: 60px; 
  color: #0C2720;
  font-size: 1.5rem;
}

/* Valinnanapit */
.fear-choice-button {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  padding: 10px; 
  font-size: 1rem; 
  cursor: pointer; 
  margin: 20px; 
  border: none; 
  background-color: #53816E; 
  color: white; 
  transition: background-color 0.3s, transform 0.2s; 
  text-align: center; 
  line-height: 150px; 
}

.fear-choice-button:hover {
  transform: scale(1.1); 
  background-color: #409E85; 
}

.fear-choice-button:active {
  transform: scale(0.95); 
  background-color: #255B4E; 
}

.fear-choice-button.correct {
  background-color: #409E85; 
}

.fear-choice-button.wrong {
  background-color: #9E403F; 
}

/* Modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color: #EFF8F1; 
  padding: 40px;
  border: 1px solid #0C2720;
  width: 90%;
  max-width: 400px;
  height: auto; 
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  position: relative;
}

.close-button {
  color: #0C2720;
  font-size: 28px;
  font-weight: bold;
  position: absolute; 
  top: 10px; 
  right: 10px; 
  cursor: pointer;
  background: none; 
  border: none; 
}

.close-button:hover {
  color: black;
}

/* Modaalin sisältö */
#fear-feedback-image {
  max-width: 150px;
  margin: 15px 0;
  border-radius: 10px;
}

#fear-next-button {
  background-color: #255B4E;
  color: #EFF8F1;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 15px;
  display: inline-block;
}

#fear-next-button:hover {
  background-color: #53816E;
}

#fear-story-image {
  max-width: 100%; 
  height: auto; 
  margin: 15px 0; 
  display: block; 
}

  /* Angry Page Styles */

#anger-gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #anger-startDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #anger-startScreen {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #anger-StartedCat {
    max-width: 200px;
    height: auto;
    margin-top: 30px;
  }
  
  #anger-GameInfo {
    max-width: 900px;
    margin-top: 30px;
  }
  
  #anger-startButton {
    margin-right: 220px;
  }
  
  .AngerButton {
    background-color: var(--teal-green);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .AngerButton:hover {
    background-color: var(--forest-green);
  }
  
  #anger-answers button {
    background-color: var(--teal-green);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-family: 'Arial, sans-serif';
  }
  
  #anger-answers button:hover {
    background-color: var(--forest-green);
  }
  
  #anger-nextProgressContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #anger-nextButton {
    margin: 0; /* Poista ylimääräiset marginaalit */
  }
  
  #anger-progress {
    font-size: 18px;
    font-weight: bold;
  }
  
  #anger-title {
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-green);
    margin-top: 20px;
    text-align: center;
  }
  
  #anger-situation {
    font-size: 24px;
    font-weight: bold;
    color: var(--teal-green);
    margin-bottom: 20px;
  }
  
  #anger-answers {
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
  }
  
  #anger-feedbackContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  #anger-feedback {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .anger-feedback-image img {
    max-width: 125px;
    height: auto;
    margin-left: 100px
  }
  
  #angryCat {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #anger-finalFeedback {
    margin-bottom: 20px;
    display: none;
    text-align: center;
    margin-top: 20px;
  }


/* disgust */
.disgustheader-box {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #0c2720;
  color: #EFF8F1;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.disgustquizContainer {
  display: flex;
  flex-wrap: nowrap;
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  align-items: center;
  flex-direction: column;
    display: none;
}
.disgustcontent.active {
    display: flex; 
}
.disgustimage-box {
  flex: 1 1 30%;
  text-align: center;
  margin-right: 20px;
}
.disgustimage-box img {
  max-width: 60%;
  height: auto;
  border-radius: 8px;
}
.disgustanswers {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.disgustanswer {
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}
.disgustanswer:hover {
  background: #eaeaea;
  transform: scale(1.05);
}
.disgustresult {
  margin-top: 20px;
  font-size: 1.2em;
  color: #0c2720;
  font-weight: bold;
}
#disgustviewMarksButton , #disgustplayAgainButton {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0c2720;
  color: #EFF8F1;
  transition: background-color 0.3s;
  }

  #disgustviewMarksButton:hover , #disgustplayAgainButton:hover {
  background-color: #085643;
}