/* UI-suunnitelman mukainen väripaletti */
:root {
  --dark-green: #0C2720;    
  --teal-green: #255B4E;    
  --forest-green: #53816E;  
  --mint-green: #CAECD2;   
  --light-mint: #EFF8F1;    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #0c2720;
  height: 100%; 
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #0c2720;
  padding: 30px;
  text-align: center;
  font-size: 2.5rem;
  color: #EFF8F1;
  width: 100%;
}

p {
  margin-top: 20px;
}

/* Navigation */
nav {
  float: left;
  height: 100vh;
  width: 20%;
  background: #caecd2;
}

nav ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #EFF8F1;
  background-color: #255B4E;
  padding: 10px; 
  margin: 25px; 
  display: inline-block; 
  border-radius: 50%; 
  text-align: center; 
  width: 160px; 
  height: 160px;
  line-height: 140px;
  font-size: 1rem;
}

nav a:hover {
  background-color: #0c2720; 
  color: #EFF8F1;
}

/* Main Content */
article {
  float: left;
  padding: 20px;
  width: 80%;
  height: 100vh;
  background-color: #EFF8F1;
}

/* Home Page Content */
#animals {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: space-between; 
  text-align: center;
}

#animals div {
  width: 100px; 
  flex: 1 1 100px; 
}

#animals img {
  width: 100px;
}

/* Sections */
section {
  min-height: 100vh; 
  display: flex; 
}

/* Game Button */
.gameButton {
  background-color: #255B4E; 
  color: #EFF8F1;
  border: none;
  padding: 20px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gameButton:hover {
  background-color: #0c2720; 
  color: #EFF8F1;
}

/* Footer */
footer {
  background-color: #0c2720;
  color: #EFF8F1;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .nav-item {
  margin: 0 15px;
}

footer a {
  text-decoration: none;
  color: #EFF8F1;
}

footer hr {
  border: none;
  border-top: 1px solid #EFF8F1;
  margin: 20px 0;
  width: 80%;
}

#footerText {
  color: #EFF8F1;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 992px) {
  nav a {
      width: 130px;
      height: 130px;
      line-height: 110px;
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  nav a {
      width: 100px;
      height: 100px;
      line-height: 80px;
      font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  nav a {
      width: 80px;
      height: 80px;
      line-height: 60px;
      font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  nav a {
      width: 60px;
      height: 60px;
      line-height: 50px;
      font-size: 0.7rem;
      margin: 5px;
  }
}


/* Page-Specific Styles */

#sad-game-article {
  background-color: #EFF8F1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;
}

/* game title */
#game-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--dark-green);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* sad container */
#sad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  max-width: 900px;
}

/* sad symbol container */
#sad-symbol-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  background-color: #EBFAF0;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 1200px;
  max-width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

/* Symbols */
.symbol {
  width: 120px;
  height: 120px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s;
}

.symbol:hover {
  transform: scale(1.2);
}

/* sad instruction box */
#sad-instruction-box {
  background-color: #EBFAF0;
  border: none;
  border-radius: 15px;
  padding: 15px 20px;
  text-align: center;
  color: #1A533D;
  font-size: 1.5rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  word-break: break-word;
  width: 100%;
  margin: 15px 0;
}

#sad-instruction-box h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

#sad-instruction-box p {
  font-size: 1.3rem;
  color: #333;
}

#sad-feedback-box {
  background-color: var(--light-mint);
  border: none;
  border-radius: 10px;
  padding: 20px 30px;
  text-align: center;
  font-size: 2rem;
  color: var(--dark-green);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#sad-feedback-box:hover {
  transform: scale(1.05);
  background-color: #d8f3dc;
}


#sad-feedback-box h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

#sad-feedback-box p {
  font-size: 1.6rem;
  color: #333;
}


/* Token Page Styles */

.token-grid-container {
  text-align: center;
  max-width: 600px; 
  margin: 0 auto;
}

/* Otsikon hienosäätö */
.token-grid-container h2 {
  margin: 0 auto 20px; 
  font-size: 1.8rem;
  color: #0c2720;
}

/* Grid-layout */
.token-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  max-width: 600px; 
}

/* Token-kuvat ja tekstit */
.token {
  text-align: center;
}

.token img {
  width: 180px; 
  height: 180px;
  border-radius: 50%; 
  transition: transform 0.2s; /* Hover-efekti */
}

.token img:hover {
  transform: scale(1.1); 
}

.token p {
  margin-top: 10px;
  font-size: 1.2rem; 
  color: #0c2720;
}

.badge-img {
  filter: grayscale(80%); /* Kuva himmeänä aluksi */
  transition: filter 0.3s ease;
}

.badge-img.active {
  filter: grayscale(0%); /* Täysi väri, kun pisteet saavutettu */
}