/* UI-suunnitelman mukainen väripaletti */
:root {
  --dark-green: #0C2720;    
  --teal-green: #255B4E;    
  --forest-green: #53816E;  
  --mint-green: #CAECD2;   
  --light-mint: #EFF8F1;    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #0c2720;
  height: 100%; 
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #0c2720;
  padding: 30px;
  text-align: center;
  font-size: 2.5rem;
  color: #EFF8F1;
  width: 100%;
}

p {
  margin-top: 20px;
}

/* Navigation */
nav {
  float: left;
  height: 100vh;
  width: 20%;
  background: #caecd2;
}

nav ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #EFF8F1;
  background-color: #255B4E;
  padding: 10px; 
  margin: 25px; 
  display: inline-block; 
  border-radius: 50%; 
  text-align: center; 
  width: 160px; 
  height: 160px;
  line-height: 140px;
  font-size: 1rem;
}

nav a:hover {
  background-color: #0c2720; 
  color: #EFF8F1;
}

/* Main Content */
article {
  float: left;
  padding: 20px;
  width: 80%;
  height: 100vh;
  background-color: #EFF8F1;
}

/* Home Page Content */
#animals {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: space-between; 
  text-align: center;
}

#animals div {
  width: 100px; 
  flex: 1 1 100px; 
}

#animals img {
  width: 100px;
}

/* Sections */
section {
  min-height: 100vh; 
  display: flex; 
}

/* Game Button */
.gameButton {
  background-color: #255B4E; 
  color: #EFF8F1;
  border: none;
  padding: 20px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gameButton:hover {
  background-color: #0c2720; 
  color: #EFF8F1;
}

/* Footer */
footer {
  background-color: #0c2720;
  color: #EFF8F1;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#footerText {
  color: #EFF8F1;
  margin-top: 10px;
}

footer .nav-item {
  margin: 0 15px;
}

footer a {
  text-decoration: none;
  color: #EFF8F1;
}

footer hr {
  border: none;
  border-top: 1px solid #EFF8F1;
  margin: 20px 0;
  width: 80%;
}

/* Responsive Design */
@media (max-width: 992px) {
  nav a {
      width: 130px;
      height: 130px;
      line-height: 110px;
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  nav a {
      width: 100px;
      height: 100px;
      line-height: 80px;
      font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  nav a {
      width: 80px;
      height: 80px;
      line-height: 60px;
      font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  nav a {
      width: 60px;
      height: 60px;
      line-height: 50px;
      font-size: 0.7rem;
      margin: 5px;
  }
}

/* Page-Specific Styles */

/* Token Page Styles */
.token-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.token {
  text-align: center;
  width: 120px;
}

.token img {
  width: 100px;
  height: auto;
}

.token p {
  font-size: 1.1rem;
}

/* Angry Page Styles */

#anger-gameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#anger-startDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#anger-startScreen {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#anger-StartedCat {
  max-width: 200px;
  height: auto;
  margin-top: 30px;
}

#anger-GameInfo {
  max-width: 900px;
  margin-top: 30px;
}

#anger-startButton {
  margin-right: 220px;
}

.AngerButton {
  background-color: var(--teal-green);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.AngerButton:hover {
  background-color: var(--forest-green);
}

#anger-answers button {
  background-color: var(--teal-green);
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-family: 'Arial, sans-serif';
}

#anger-answers button:hover {
  background-color: var(--forest-green);
}

#anger-nextProgressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#anger-nextButton {
  margin: 0; /* Poista ylimääräiset marginaalit */
}

#anger-progress {
  font-size: 18px;
  font-weight: bold;
}

#anger-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-green);
  margin-top: 20px;
  text-align: center;
}

#anger-situation {
  font-size: 24px;
  font-weight: bold;
  color: var(--teal-green);
  margin-bottom: 20px;
}

#anger-answers {
  margin-top: 20px;
  flex-direction: column;
  text-align: center;
}

#anger-feedbackContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#anger-feedback {
  text-align: center;
  margin-bottom: 10px;
}

.anger-feedback-image img {
  max-width: 125px;
  height: auto;
  margin-left: 100px
}

#angryCat {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

#anger-finalFeedback {
  margin-bottom: 20px;
  display: none;
  text-align: center;
  margin-top: 20px;
}